<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let devRow of chunkedArray(member?.content, 2)">
      <ion-col *ngFor="let member of devRow">
        <ion-card>
          <ion-card-header>
            <ion-img [src]="member?.conImg"></ion-img>
            <ion-card-title>
              {{ member?.conName }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ member?.conRole }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Motto: </ion-label>
            <p>{{ member?.conMotto }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>