.end-menu {
    --width: 80%;
}

.descPara {
    font-size: 12px;
}

.justify {
    text-align: justify;
}

.fullWidth {
    width: 100%;
    max-height: 250px;
}

.open {
    color: greenyellow;
}

.closed {
    color: red;
}