<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <span #infoSec></span>
    <ion-item>
      <img class="ion-padding"
        [src]="homeImage.banner" 
        alt="The seal of Llanera, Nueva Ecija"
        class="seal">
    </ion-item>

    <ion-item-divider sticky>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-padding" (click)="scrollToInfo()">Intro</ion-col>
          <ion-col class="ion-padding" (click)="scrollToHistory()">History</ion-col>
          <ion-col class="ion-padding" (click)="scrollToGeography()">Geography</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-divider>
    
    <ion-item>
      <ion-card>
        <ion-card-content>
          <p class="justified" *ngFor="let para of homePara.info">
            {{para}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <span #histSec></span>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>History</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="ion-padding-bottom" *ngFor="let para of homePara.hist">
            {{ para }}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <span #geogSec></span>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Georaphy</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            {{ homePara.geog.desc }}
          </p>
          <ion-list>
            <ion-row>
              <ion-col *ngFor="let brgy of homePara.geog.barangay">
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img [src]="brgy.thumb">
                  </ion-thumbnail>
                  <ion-label>{{ brgy.name }}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
