ion-col {
  text-align: center;
  --ion-background-color: var(--ion-color-cust-white);
}

ion-thumbnail {
  --border-radius: 3px;

}

.justified { 
  text-align: justify;
}

.seal {
  width: 100%;
}

.imgLocCon {
  height: 100%;
  width: 30%;
}

.itemAbout {
  background-color: green
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

